{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'ico.ico' %}">

    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Geoposition </title>
    <style>
        a {
            color: #2E88C7;
        }
    </style>


    
    <script>

        var posElt;

        var posLinkElt;


        window.addEventListener('load', function(){
            posElt = document.getElementById('Pos');
            posLinkElt = document.querySelector('#PosLink > a');

            // con esta funcion se optienen los datos del navegador
                navigator.geolocation.getCurrentPosition(geoposOK, geoposKO);
   
        });

        /** @param {GeolocationPosition} pos */
        function geoposOK(pos) {
            //Obtenemos latitud y longitud
            var lat = pos.coords.latitude;
            var long = pos.coords.longitude;
            //console.log(lat)
            //console.log(long)
            
            
            $.ajax({
                url: '',
                method: 'POST',
                data: { sendlat: lat, sendlong: long },
                success: function(response) {

                }
              });

            

            //Mostramos la posición
            posElt.textContent = `${lat}, ${long}`;
            //generamos enlace a la posición
            posLinkElt.href = `https://maps.google.com/?q=${lat},${long}`;
            posLinkElt.textContent = 'Mostrar tu posición en un mapa';
        }

        /** @param {GeolocationPositionError} err */
        function geoposKO(err) {
            console.warn(err.message);
            let msg;
            switch(err.code) {
                case err.PERMISSION_DENIED:
                    msg = "No nos has dado permiso para obtener tu posición";
                    break;
                case err.POSITION_UNAVAILABLE:
                    msg = "Tu posición actual no está disponible";
                    break;
                 case err.TIMEOUT:
                     msg = "No se ha podido obtener tu posición en un tiempo prudencial";
                     break;
                 default:
                     msg = "Error desconocido";
                     break;
            }
            posElt.textContent = msg;
        }


    </script>
</head>

<body>
    <div style="width:750px; margin:2em auto;">

        <p>Tu posición es: <span id="Pos">Desconocida</span></p>
        <p id="PosLink"><a target="_blank"></a></p>
    </div>
</body>
</html>